.carousel {
    margin-top: 30px
  }

  .container {
    display: flex;
    min-height: 60vh;
    margin: 0px;
    align-items: center;
    justify-content: center;
  }
  
  .profile-card {
    position: relative;
    width: 500px;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.25s ease;
  }
  .profile-card:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  }
  .profile-card .card-header {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2.8rem;
    color: #fff;
    background: linear-gradient(135deg, #3f5efb, #fc466b);
  }
  .profile-card .card-header .profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  .profile-card .card-header .profile-name {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .profile-card .card-header .profile-role {
    font-size: 1.05rem;
    color: #ddd;
  }
  .profile-card .card-header .profile-location {

    font-size: 15px;
  }
  .profile-card .card-header .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .profile-card .card-header .divider svg {
    position: relative;
    display: block;
    width: calc(150% + 1.5px);
    height: 50px;
  }
  .profile-card .card-header .divider svg path {
    fill: #ffffff;
  }
  .profile-card .card-body {
    padding: 2rem;
  }
  .profile-card .card-body .title {
    color: #666;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.05rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .profile-card .card-body .contact-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile-card .card-body .contact-list .contact-item {
    width: 50px;
    height: 50px;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  .profile-card .card-body .contact-list .contact-item.facebook {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
    box-shadow: 0px 5px 10px rgba(0, 198, 255, 0.5);
  }
  .profile-card .card-body .contact-list .contact-item.twitter {
    background: linear-gradient(135deg, #00d2ff, #3a7bd5);
    box-shadow: 0px 5px 10px rgba(0, 210, 255, 0.5);
  }
  .profile-card .card-body .contact-list .contact-item.instagram {
    background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
    box-shadow: 0px 5px 10px rgba(253, 29, 29, 0.5);
  }
  .profile-card .card-body .contact-list .contact-item.dribbble {
    background: linear-gradient(135deg, #da4453, #89216b);
    box-shadow: 0px 5px 10px rgba(218, 68, 83, 0.5);
  }
  
  .icon {
    position: relative;
    width: 1.25em;
    height: 1.25em;
  }
  .icon.white path,
  .icon.white polygon,
  .icon.white rect {
    fill: #fff;
  }
  
  .contact-icon {
    width: 100%;
    height: 100%;
  }
  .contact-icon path {
    fill: #fff;
  }
  .col-md-6 {
    margin-top: -100px;
  }

  .container {
    margin-bottom: -100px;
  }


  body {
    background-color: #fff !important;
  }
  
  .container {
    padding-top: 60px;
  }
  
  .section {
    background-color: #fff;
    width: 300px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
  }
  .section input {
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #333;
  }
  .section h2 {
    margin: 0 auto 25px auto;
    text-align: center;
  }
  
  .checkbox-layout {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding: 10px 10px;
    font-size: 20px;
  }
  .checkbox-layout input {
    width: 20px;
    margin: auto 20px auto 10px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  
  .iconSwitch {
    text-align: center;
    font-size: 20px;
    margin-top: 35px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 8px;
    background-color: #f5f3f3;
    color: #fff;
  }
  
  .section {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .section h2, .section form {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-animation: fadeOut .25s;
            animation: fadeOut .25s;
  }
  .section.flip {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .section.flip h2, .section.flip form {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-animation: fadeIn .25s;
            animation: fadeIn .25s;
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
  .error {
    margin-top: 3px;
    color: red;
    font-size: 13px;
  }

  .MuiTab-wrapper {
    color: white;
  }
  .MuiBox-root {
    padding: 0px !important;
  }
  .MuiListItemText-multiline {
    margin-left: 15px;
  }
  .MuiList-padding {
    max-width: 380px !important;
  }
  .MuiTabs-flexContainer {
    margin-top: 32px;
  }
  


  .profile {
    min-height: 200px;
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;
    background: #ededed;
    border-radius: 12px;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  }
  .profile img {
    border-radius: 12px;
    float: left;
  }
  .profile-info-wrapper {
    float: left;
    height: 125px;
    width: 100%;
    padding-left: 0px;
  }
  .profile-name-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.85);
  }
  .job-title,
  .experience-label {
    color: rgba(255, 255, 255, 0.65);
    padding-top: 5px;
  }
  #profile0 {
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  }
  #profile1 {
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  }
  #profile2 {
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
  }
  #profile3 {
  background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
  }
  #profile4 {
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  }
  #profile5 {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  }
  #profile5 {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
  }





  .social-links {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 5px;
    height: 110px;
  }

  .sewa-category{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 1s;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 1s;
    text-align: center;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: max-content;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .login{
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color: #fff;
    font-size: 16px;
  }
  .iconSwitch{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    border:8px solid #ff416c;
  }
  .eula{
    color: #fff;
  }
  .create-account{
    color: #fff;
    margin-right: 10px;
  }
  .optionListContainer{
    color: #000;
  }
  #multiselectContainerReact{
    background-color: #fff;
  }
  .block-option{
    z-index: 30;
    padding: 10px;
    position: relative;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
  }
  .asterisk{
    color: red;
    margin-left: 3px;
  }
  .back-button{
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: 0px;
    margin-left: 200px;
    transform: rotate(180deg);
  }
  .dob{
    font-size: 15px;
    margin-left: 5px;
  }
  .card-header{
    border-bottom: 0px;
  }

  .my-hazri-instruction{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #673ab7;
  }

  .plus-icon{
    height: 80px;
    position: fixed;
    bottom: 25px;
    right: 15px;
  }

  .add-hazri-input{
    width: 70%;
    text-align: center;
    margin: 17vw;
  }

  .iframe-class{
    height: 100vh;
    width: 100vw;
    border: 0px;
  }
  .official-info{
    background-color: #fff;
  }
  .search-date-input{
    margin: 6px;
    border-radius: 5px;
    border-color: #6610f2;
    padding: 0.20rem;
    margin-top: 75px;
    width: 40vw;
  }
  .total-hazri{
    font-size: 20px;
    text-align: center;
    color: #673ab7;
    font-weight: 600;
    margin-bottom: 0rem;
  }

  .search-date-icon{
    width: 2rem !important;
    height: 2rem !important;
    fill: #673ab7 !important;
  }
  .create-event-container{
    margin-top: 80px;
    text-align: center;
  }
  .form-control-event{
    width:90vw;
    margin-left: 5vw;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .event-checkbox{
    text-align: left;
    margin-left: 5vw;
  }
  .event-checkbox-input{
    margin-right: 5px;
  }
  .event-checkbox-title{
    text-align: left;
    margin-left: 5vw;
    color: #6610f2;
  }
  .event-select-state{
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10px;
  }

  .MuiGrid-root{
    z-index: 30;
  }

  .issues-container{
    margin-top: 60px;
  }
  .search-input{
    padding: 0.5em;
    width: 80vw;
    margin-left: 10vw;
    font-size: 18px;
  }
  .memberList{
    display: flex;
    justify-content: space-evenly;
  }

  .user-account{
    display: flex;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
  }
  .user-detail{
    padding: 10px 30px;
    font-size: 20px;
  }
  .user-detail-dashboard{
    text-align: center;
    font-size: 20px;
    color: #673ab7;
    font-weight: 700;
  }
  .loader{
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: 60;
    height: 100px;
    width: 100px;
  }
  .text-center{
    margin-top: 0px !important;
    margin-left: 25px;
  }
  .btn-primary{
    padding: 5px 120px;
  }
  .profile-image-upload{
    height: 40px;
    margin-left: 0px;
    margin-top: -20px;
  }
  .container-login{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .logo-img{
    height: 100px;
    width: 100px;
    left: 60px;
    position: relative;
    bottom:10px;
  }